<%= javascript_include_tag "ch11_ex1_library_storage.js" %>
<%= javascript_include_tag "ch11_ex1_library_tasklist.js" %>
<%= javascript_include_tag "ch11_ex1_library_task.js" %>
<%= javascript_include_tag "ch11_ex1_task_manager.js" %>

<main>
  <h1>Task Manager</h1>
  <div id="tasks"></div>
  <label for="task">Task:</label><br>
  <input type="text" name="task" id="task"><br>
  <input type="button" name="add_task" id="add_task" value="Add Task"><br>
  <input type="button" name="clear_tasks" id="clear_tasks" value="Clear Tasks">
  <div class="clear"></div>
</main>