<h1>Please join our email list</h1>
<label for="email_address">Email Address:</label>
<input type="text" id="email_address" name="email_address"><br>
<label>&nbsp;</label>
<input type="button" id="join_list" value="Join our List"><br>
