<main>
  <h1>Task Manager</h1>
  <div id="tasks">
    <span id="name"></span>&nbsp;Tasks<br>
    <textarea id="task_list" rows="6" cols="50"></textarea>
  </div>

  <label for="task">Task:</label><br>
  <input type="text" name="task" id="task"><br>

  <input type="button" name="add_task" id="add_task" value="Add Task">
  <input type="button" name="clear_tasks" id="clear_tasks" value="Clear Tasks"><br>

  <input type="button" name="delete_task" id="delete_task" value="Delete task">
  <input type="button" name="toggle_tasks" id="toggle_tasks" value="Toggle Task"><br>

  <input type="button" name="set_name" id="set_name" value="Set Name">
  <input type="button" name="filter_tasks" id="filter_tasks" value="Filter Tasks">
</main>